
#LoginModal {
    height: 727px;
    position: relative;
    box-shadow: 0px 0px 10px #D2C4A8;
    width: 720px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.title {
    background-color: #FAF7EF;
    margin-top: 30px;
    width: 100%;

  }
.pic {
    width: 400px;
    margin: auto;
    display: block;
}